{{!-- this should be for newstory not homepage??? --}}

  <article class="media">
  <figure class="media-left"></figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        <textarea class="textarea" placeholder="Add to the storyline..."></textarea>
      </p>
       <p>Character limit 1500</p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button">Submit</button>
      </p>
    </div>
  </div>
</article>