<div class="card">

  <h2 class="card-header">LOGIN</h2>

<form class="card-body login-form">
  <div class="card">
    <h3 class="card-header">Continue your story</h3>
    <form id="login-form" class="card-body">
      <label class="form-label">Username:</label>
      <input class="form-input" type="text" id="username-input-login" />
  </div>

  <div class="card">
    <label class="form-label">Password:</label>
    <input class="form-input" type="password" id="password-input-login" />
  </div>

  <div class="card">
    <button type="submit" class="btn">Login!</button>
    <a class="login-link" href="/signup">Sign up instead</a>
</form>
</div>

<source src="../public/js/login.js">