
<div class="card">
  <h3 class="card-header">Sign up to join our collaborative Storyline</h3>
  <form id="signup-form" class="card-body">
    <label class="form-label">Username:</label>
    <input class="form-input" type="text" id="username-input-signup" />
</div>

<div class="card">
<label class="form-label">Password:</label>
<input class="form-input" type="password" id="password-input-signup" />
</div>

<div class="card">
<button type="submit" class="btn">Join our Story!</button>
<a class="login-link" href="/login">Log in instead</a>
</form>
</div>

<source src="../public/js/logout.js">