<div class="notification has-background-black-bis has-text-white-bis is-mobile">

  <form class="card-body login-form">

    <div class="field">
      <label class="form-label center">Username</label>
        <div class="control center">
          <input class="form-input" type="text" id="username-input-login" />
        </div>
    </div>

        <div class="field">
          <label class="form-label center">Password</label>
            <div class="control center">
              <input class="form-input" type="password" id="password-input-login" />
           </div>
        </div>


        <div class="buttons center">
          <a class="login-link button is-light" href="/signup">Sign Up</a>
          <button type="submit" class="button is-success">Login</button>
        </div>
  </form>
</div>
<script src="js/login.js"></script>