
    <h3>Begin by adding a title and telling your story. Once you are done, hit the submit storyline button to share it with other collaborators who can add to your storyline.</h3>
 

<!-- textarea for story title -->

<div class="field is-grouped">
  <p class="control is-expanded">
    <input class="input" type="text" placeholder="Story Title">
  </p>
</div>

<!-- comment box for initial story for users to add to -->

<article class="media">
  <figure class="media-left">
  </figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        <textarea class="textarea" placeholder="Add to the storyline..."></textarea>
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
         <a class="button is-info">Submit storyline</a> <!-- use javascript to pull values from story title AND add to the storyline textareas with one submit button -->
        </div>
      </div>
    </nav>
  </div>
</article>
