
.grid{
    display: grid;
    grid-template-columns: [xl-start]1fr  24px [md-start]minmax(0,624px)24px [md-end] 1fr [xl-end];
}

.grid * {grid-column: md;}
.grid-xl {grid-column:xl;}

.is-paddingless-horizontal {padding-left: 0; padding-right: 0;}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}



